*,
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
@import url(https://fonts.google.com/specimen/Inter);
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background:  hsl(233, 47%, 7%);
    align-items: center;
    font-family:'Inter';
    color:white;

}
.containner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 100%;
}
.main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 90%;
    height: 80%;
}
.left {
    width: 50%;
    background: url("images/image-header-desktop.jpg") hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90%;
    border-bottom-right-radius: .6em;
    border-top-right-radius: .6em;
}
.right {
    width: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
    height: 90%;
    background: hsl(244, 38%, 16%);
    border-bottom-left-radius: .6em;
    border-top-left-radius: .6em;
}
.small-containner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:white;
    align-items: center;
    width: 85%;
    height: 70%;
}
.bobo{
    height: 35%;
    width: 100%;
}
.final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
b{
    color:hsl(277, 64%, 61%) ;
}
h3 {
    text-align: center;
}
p{
    text-align: center;
}
.bobo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
h2{
    text-align: center;
}
@media screen and (max-width :700px) {
    .main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        height: 90%;
        align-items: center;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .left {
        width:100%;
        background: url("images/image-header-desktop.jpg") hsl(277, 64%, 61%);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 35%;
        border-bottom-right-radius: .6em;
        border-top-right-radius: .6em;
        object-fit: cover;
    }
    .right{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
         height: 65%;
         background: hsl(244, 38%, 16%);
         border-bottom-left-radius: .6em;
         border-top-left-radius: .6em;
    }
    .small-containner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        width: 90%;
    }
    .final {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    h3 {
        text-align: center;
    }
    p{
        text-align: center;
    }
    .bobo{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    h2{
        text-align: center;
    }
}